<!DOCTYPE html>
<html>
<head>
        <!--page title !-->
        <title>Classes</title>
    <head>
    <center>
    <p style="font-size:30px"> Here are a list of classes I took semester: </p>
    </center>
    <ul>
    <li>Python 1006 </li>
    <li>Polish II </li>
    <li>Physics Lab </li>
    <li>Number Theory and Cryptography </li>
    <li>Ordinary Differential Equations </li>
    </ul>
    <center>
    <p style="font-size:15px"> I loved all of my classes this semester! Python was great, as was ODE. Number Theory was challenging yet rewarding. </br> Looking forward to (hopefully) coming back to campus in the fall! :) </p>
    </center>
</html>
