<!DOCTYPE html>
<html>
    <head>
        <!--page title !-->
        <title>Home</title>
    <head>
    <center>
    <!--bulk of the page-->
    <!--I am going to center everything and make some stuff bold for fun :)-->
    <!-- I have taken CS50 a while ago so just applying some stuff I've learned -->
    <p style="font-size:30px" ><b>Henry Manelski</b></p>
    <body>
    <img src="/static/hm.jpg" width="300" height="300" alt="Only picture of myself I could find..."></img>
    <p style="font-size:15px"> Currently a <b> sophomore </b> (class of 2022). Once I turn in this assignment I will be officially a junior! </p>
    <p> 
    </p>
    
    <p style="font-size:15px"> I am majoring in <b> Applied Mathematics </b> in SEAS with a minor in Mechanical Engineering and Slavic Language/Culture. </p>
    <p> </br> </br>
    </p>
    
    <p> Click <a href="/nexus"> here</a> to learn more about a project I've been a part of recently! </p>
    <p> and click <a href="/classes"> here </a> to see what classes I took this semester! </p>
    </body>
    
    <p> My favorite website is <a href="https://jmars.asu.edu/"> this one</a>. It has great resources for learning about the areology and areography of Mars. </br> It's layering and mapping tools are unparalleled and JMARS is a very user-friendly interface. </p>
    <p>
    </br>
    </br>
    
    
    </p>
    </center>
    <footer>&copy; Copyright 2020 Henry Manelski</footer>
</html>

