<!DOCTYPE html>
<html>
<head>
        <!--page title !-->
        <title>Nexus Aurora</title>
    <head>
    <center>
    <p style="font-size:30px" ><b>Nexus Aurora</b></p>
    <img src="/static/na.png" width="600" height="450" alt="Our landing site."></img>
    
    <p style="font-size:15px"> Currently I am leading a project to chose a landing site on Mars for the <b> Nexus Aurora team</b> </br> submitting a whitepaper to the Mars Society's 'Mars City State Design Project'. </br> Here is the site we chose! It is on the northeastern rim of the Hellas Basin. </p>
    
    
    </center>
    
    
</html>
